body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #f0c505;
}

h1 {
    color: #f80a0a;
}

a {
    text-decoration: none;
    color: rgb(0, 255, 13);
}
